/* Header and navigation */

.header {
  text-align: center;
  height:60px;
  background-image: url("Nepal.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.ulnav {
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
}

.listnav  {
  color: #e8e8e8;
  padding: 14px 15px;
  text-decoration: none;
  display: inline-block;
}

 a:hover {
  background-color: #111;
}

/*Site content*/

body {
  font-family: 'Raleway', sans-serif;
  margin: auto;
}

.site {
  color: #3b3434;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #555;
}

h1 {
  background-color: white;
  opacity: 0.4;
}


#titlefirst {
  font-size: 1.5rem;
  color: #555;
}

/*list and lines */

.list {
  width: 500px;
}

ol {
  color: #ccc;
  list-style-type: none;
}

ol li {
  position: sticky;
  font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;

}

li p {
  font: 12px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: #555;
  font-size: 0.9rem;
}

span {
  position: absolute;
}

.article {
  display: flex;
}

.lines {
  text-align: center;
  margin: 0 auto;
}

/* footer */

.footer {
  text-align: center;
  background-color: #333;
  color: #e8e8e8;
  width:100%;
  height:20px;
  bottom:0;
  left:0;
}

@media only screen and (min-width: 320px) {
.footer {
    position: fixed;
  }
}
